[submodule "deps/abseil-20230802.1"]
	path = deps/abseil-20230802.1
	url = git@github.com:abseil/abseil-cpp.git
	branch = lts_2023_08_02
[submodule "deps/nvm-nava-repoplugin-pqsql"]
	path = deps/nvm-nava-repoplugin-pqsql
	url = git@github.com-lwdjohari:lwdjohari/nvm-nava-repoplugin-pqsql.git
[submodule "deps/nvm-nava-core"]
	path = deps/nvm-nava-core
	url = git@github.com-lwdjohari:lwdjohari/nvm-nava-core.git
[submodule "deps/nvm-nava-core-plugins"]
	path = deps/nvm-nava-core-plugins
	url = git@github.com-lwdjohari:lwdjohari/nvm-nava-core-plugins.git
[submodule "deps/nvm-nava-core-interpreter"]
	path = deps/nvm-nava-core-interpreter
	url = git@github.com-lwdjohari:lwdjohari/nvm-nava-core-interpreter.git
[submodule "deps/nvm-core"]
	path = deps/nvm-core
	url = git@github.com-lwdjohari:lwdjohari/nvm-core.git
